<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="nav-bar">
        <button id="nav-dash-btn" onclick="location.href='/Dashboard'">Dashboard</button>
        <button id="nav-control-btn" onclick="location.href='/Control'">Control</button>
    </div>
    <div class="container">
        <div class="sub-container">
            <div class="content">
                <div id="temp-box">
                    <h>Temperature</h>
                    <p id="mqttTemp">Tempereture : Loading...</p>
                    <p id="mqttHumid">Humidity : Loading...</p>
                </div>
            </div>
            <div class="content">
                <div id="light-box">
                    <h>Light Data</h>
                    <p id="mqttLight">Light : Loading...</p>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    const socket = io(); // ✅ Works now
    socket.on("mqttTemp", (data) => {
        document.getElementById("mqttTemp").textContent = (`Tempereture : ${data}`);
    });

    socket.on("mqttHumid", (data) => {
        document.getElementById("mqttHumid").textContent = (`Humidity : ${data}`);
    });

    socket.on("mqttLight", (data) => {
        document.getElementById("mqttLight").textContent = (`Light : ${data}`);
    });

    socket.on("mqttVr", (data) => {
        document.getElementById("mqttVr").textContent = (`Light : ${data}`);
    });
</script>
</html>