<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="nav-bar">
        <h1>Welcome to the Dashboard</h1>
        <p>This is a sample dashboard page using a custom font.</p>
    </div>
    <div class="container">
        <div id="temp-box">
            <div>
                <h>Temperature</h>
                <p id="msg">Loading...</p>
            </div>
        </div>
        <div id="box-1">

        </div>
    </div>

</body>
<script>
    const socket = io(); // ✅ Works now
    socket.on("message", (data) => {
    document.getElementById("msg").textContent = data;
    });
</script>
</html>